//-
  @param {Object} options
  @param {string} options.name
  @param {Array} [options.modifiers]
  @param {string} [options.href]

  @example
  +button({ name: 'example', modifiers: ['example'] })(href='javascript:void(0);')
  +button({ name: 'example', modifiers: ['example'] })(type='button')

mixin button({ name, modifiers, href })
  -
    const mainClass = 'button'
    const classesModifiers = modifiers
      ? modifiers.map((modifier) => `${mainClass}__${modifier}`)
      : []

  if href || attributes.href
    a.button(
      class=[mainClass, ...classesModifiers] href=href
    )&attributes(attributes)
      span= name
  else
    button.button(
      class=[mainClass, ...classesModifiers]
    )&attributes(attributes)
      span= name
