include ../../../templates/utilities/get-random-id.pug

//- @param {Object} [settings]
//- @param {string} [settings.label]
//- @param {string} [settings.name]
//- @param {number} [settings.checked]
//- @example +rating({ checked: 3 })
mixin rating(settings = {})
  -
    const numberOf = 10;
    const randomId = getRandomId();
    const { label, name = randomId, checked = numberOf } = settings;

  fieldset.rating(aria-label=label)&attributes(attributes)
    each index in Array.from({ length: numberOf }, (_, i) => i + 1)
      input.rating__element(
        type="radio",
        name=name,
        value=String(index),
        aria-label=String(index),
        checked=index === checked
      )
