include ./utilities.pug
include ../blocks/button/button.pug
include ../blocks/checkbox/checkbox.pug
include ../blocks/icon/icon.pug
include ../blocks/input/input.pug
include ../blocks/radio/radio.pug
include ../blocks/select/select.pug
include ../blocks/textarea/textarea.pug

block variables

doctype html
html(lang=documentLanguage || void 0)
  head
    meta(charset='utf-8')
    meta(name='description', content=pageDescription)
    meta(name='keywords', content=pageKeywords)
    meta(name='format-detection', content='email=no')
    meta(name='format-detection', content='telephone=no')
    meta(
      name='viewport',
      content='width=device-width, initial-scale=1, shrink-to-fit=no'
    )
    block head
    link(href='./styles/main.css', rel='stylesheet')
    title= pageTitle

  body.no-js(class=bodyClasses)
    script document.body.classList.remove('no-js');
    block body
    script(src='./scripts/main.js', defer)
