include ./utilities.pug

include ../blocks/components/button/button.pug
include ../blocks/components/checkbox/checkbox.pug
include ../blocks/components/counter/counter.pug
include ../blocks/components/icon/icon.pug
include ../blocks/components/input/input.pug
include ../blocks/components/radio/radio.pug
include ../blocks/components/select/select.pug
include ../blocks/components/switch/switch.pug

include ../blocks/components/counter/counter.pug
include ../blocks/components/keyboard/keyboard.pug
include ../blocks/components/modal/modal.pug
include ../blocks/components/rating/rating.pug
include ../blocks/components/textarea/textarea.pug

block variables

doctype html
html(lang=documentLanguage || void 0)
  head
    meta(charset='utf-8')
    meta(name='description', content=pageDescription)
    meta(name='keywords', content=pageKeywords)
    meta(name='format-detection', content='email=no')
    meta(name='format-detection', content='telephone=no')
    meta(
      name='viewport',
      content='width=device-width, initial-scale=1, shrink-to-fit=no'
    )
    block head
    link(href='./styles/main.css', rel='stylesheet')
    title= pageTitle

  body.no-js(class=bodyClasses)
    script.
      document.body.className = document.body.className.replace('no-js', 'js');
    block body
    script(src='./scripts/main.js', defer)
