//-
  @param {Object} options
  @param {string} options.name
  @param {Array} [options.modifiers]

  @example
  +icon({ name: 'example', modifiers: ['example'] })(width='24' height='24')

mixin icon({ name, modifiers })
  -
    const mainClass = 'icon'
    const classesModifiers = modifiers
      ? modifiers.map((modifier) => `${mainClass}__${modifier}`)
      : [`${mainClass}__${name}`]

  svg(
    class=[mainClass, ...classesModifiers]
    aria-hidden='true'
    focusable='false'
  )&attributes(attributes)
    use(xlink:href=`./images/sprite/sprite.svg#icon-${name}`)/
