extends ./templates/main.pug

block variables
  -
    const documentLanguage = 'ru';
    const bodyClasses = 'body body_index';
    const pageDescription = '';
    const pageKeywords = '';
    const pageTitle = 'Стартовый шаблон для верстки';

block head

block body
  style.
    body {
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 0;
      padding-top: 8px;
      padding-right: 8px;
      padding-bottom: 8px;
      padding-left: 8px;
      background-color: #ffffff;
      color: #575757;
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      font-family: sans-serif;
      line-height: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    td {
      padding-top: 8px;
      padding-right: 8px;
      padding-bottom: 8px;
      padding-left: 8px;
      width: 33.33333%;
      border-top: 1px dotted #d7d7d7;
      border-bottom: 1px dotted #d7d7d7;
      vertical-align: top;
    }

    td:first-child {
      font-family: monospace;
    }

    pre {
      margin-top: 0;
      margin-bottom: 0;
    }

  table
    tr
      td
        pre.
          +button('Example')(type='button', disabled)
          +button('Example').button_accent(type='button', disabled)
      td
        +button('Example')(type='button')
        +button('Example').button_accent(type='button')
      td
        +button('Example')(type='button', disabled)
        +button('Example').button_accent(type='button', disabled)

    tr
      td
        pre.
          +button('Example')(href='javascript:void(0);', tabindex='-1')
          +button('Example').button_accent(href='javascript:void(0);', tabindex='-1')
      td
        +button('Example')(href='javascript:void(0);')
        +button('Example').button_accent(href='javascript:void(0);')
      td
        +button('Example')(href='javascript:void(0);', tabindex='-1')
        +button('Example').button_accent(href='javascript:void(0);', tabindex='-1')

    tr
      td
        pre.
          +checkbox()(disabled)
          +checkbox()(checked, disabled)
      td
        +checkbox
        +checkbox()(checked)
      td
        +checkbox()(disabled)
        +checkbox()(checked, disabled)

    tr
      td
        pre.
          +icon('check')(width='40', height='40')
      td(colspan='2')
        +icon('check')(width='40', height='40')

    tr
      td
        pre.
          +input()(placeholder='Example', required, disabled)
      td
        +input()(placeholder='Example', required)
      td
        +input()(placeholder='Example', required, disabled)

    tr
      td
        pre.
          +radio()(name=getRandomDoubleId(), disabled)
          +radio()(name=getRandomDoubleId(), checked, disabled)
      td
        +radio()(name=getRandomDoubleId())
        +radio()(name=getRandomDoubleId(), checked)
      td
        +radio()(name=getRandomDoubleId(), disabled)
        +radio()(name=getRandomDoubleId(), checked, disabled)

    tr
      td
        pre.
          +select()(disabled)
            option(value, selected, disabled) Select
            option(value='example') Example
      td
        +select
          option(value, selected, disabled) Select
          option(value='example') Example
      td
        +select()(disabled)
          option(value, selected, disabled) Select
          option(value='example') Example

    tr
      td
        pre.
          +switch()(disabled)
          +switch()(checked, disabled)
      td
        +switch
        +switch()(checked)
      td
        +switch()(disabled)
        +switch()(checked, disabled)

    tr
      td
        pre.
          +textarea()(placeholder='Example', required, disabled)
      td
        +textarea()(placeholder='Example', required)
      td
        +textarea()(placeholder='Example', required, disabled)
