extends ./templates/main.pug

block variables
  -
    const pageClass = 'starting';
    const pageTitle = 'Стартовый шаблон для верстки';

    const documentLanguage = void 0;
    const isVisibleForRobots = void 0;
    const pageDescription = void 0;
    const pageKeyword = void 0;

block head
  style.
    html {
      font-size: 10px;
    }

    body {
      padding-top: 0.8rem;
      padding-right: 0.8rem;
      padding-bottom: 0.8rem;
      padding-left: 0.8rem;
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 0;
      font-family: sans-serif;
      font-size: 1.4rem;
      line-height: 2rem;
      color: #575757;
      background-color: #ffffff;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    tr:not(:last-child) {
      box-shadow: inset 0 -1px 0 0 #d7d7d7;
    }

    td {
      width: 50%;
      padding-top: 1.6rem;
      padding-right: 0.8rem;
      padding-bottom: 1.6rem;
      padding-left: 0.8rem;
      vertical-align: top;
    }

    b {
      display: block;
      min-height: 2rem;
      margin-top: 0;
      margin-bottom: 0.4rem;
    }

    b:not(:empty)::before {
      font-weight: 400;
      content: "компонент ";
    }

block body
  include ./templates/utilities/get-random-double-id.pug

  table
    tr
      td(colspan="2") Компоненты демонстрационные

    tr
      td
        b button
        +button(type="button") Example
        +button.button_accent(type="button") Example
        +button(href="javascript:void(0);") Example
        +button.button_accent(href="javascript:void(0);") Example
      td
        b
        +button(type="button", disabled="disabled") Example
        +button.button_accent(type="button", disabled="disabled") Example
        +button(href="javascript:void(0);", tabindex="-1") Example
        +button.button_accent(
          href="javascript:void(0);",
          tabindex="-1"
        ) Example

    tr
      td
        b checkbox
        +checkbox
        +checkbox(checked="checked")
      td
        b
        +checkbox(disabled="disabled")
        +checkbox(checked="checked", disabled="disabled")

    tr
      td(colspan="2")
        b counter
        +counter({ max: 3 })

    tr
      td(colspan="2")
        b icon
        +icon("check")(width="40", height="40")

    tr
      td
        b input
        +input(placeholder="Example")
        +input(placeholder="Example", required="required")
      td
        b
        +input(placeholder="Example", disabled="disabled")
        +input(
          placeholder="Example",
          required="required",
          disabled="disabled"
        )

    tr
      td(colspan="2")
        b keyboard
        +keyboard

    tr
      td
        b radio
        +radio(name=getRandomDoubleId())
        +radio(name=getRandomDoubleId(), checked="checked")
      td
        b
        +radio(name=getRandomDoubleId(), disabled="disabled")
        +radio(
          name=getRandomDoubleId(),
          checked="checked",
          disabled="disabled"
        )

    tr
      td(colspan="2")
        b rating
        +rating({ checked: 3 })

    tr
      td
        b select
        +select
          option(value, selected, disabled) Select
          option(value="example") Example
      td
        b
        +select(disabled="disabled")
          option(value, selected, disabled) Select
          option(value="example") Example

    tr
      td
        b switch
        +switch
        +switch(checked="checked")
      td
        b
        +switch(disabled="disabled")
        +switch(checked="checked", disabled="disabled")

    tr
      td
        b textarea
        +textarea(placeholder="Example")
        +textarea(placeholder="Example", required="required")
      td
        b
        +textarea(placeholder="Example", disabled="disabled")
        +textarea(
          placeholder="Example",
          required="required",
          disabled="disabled"
        )
