extends ./templates/main.pug

block variables
  -
    const pageTitle = 'Стартовый шаблон для верстки';
    const bodyClasses = 'starting';

block head
  link(rel="preconnect", href="https://fonts.googleapis.com")
  link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
  link(
    rel="stylesheet",
    href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
  )
  style.
    html {
      box-sizing: border-box;
      font-size: 10px;
    }

    body {
      padding-top: 0.8rem;
      padding-right: 0.8rem;
      padding-bottom: 0.8rem;
      padding-left: 0.8rem;
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 0;
      font-family: Ubuntu, sans-serif;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2rem;
      color: #575757;
      background-color: #ffffff;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    tr:not(:last-child) {
      box-shadow: inset 0 -1px 0 0 #d7d7d7;
    }

    td {
      width: 50%;
      padding-top: 1.6rem;
      padding-right: 0.8rem;
      padding-bottom: 1.6rem;
      padding-left: 0.8rem;
      vertical-align: top;
    }

    b {
      display: block;
      min-height: 2rem;
      margin-top: 0;
      margin-bottom: 0.4rem;
      font-family: inherit;
      font-weight: 400;
    }

block body
  table
    tr
      td
        b button
        +button("Example")(type="button")
        +button("Example").button_accent(type="button")
        +button("Example")(href="javascript:void(0);")
        +button("Example").button_accent(href="javascript:void(0);")
      td
        b
        +button("Example")(type="button", disabled="disabled")
        +button("Example").button_accent(
          type="button",
          disabled="disabled"
        )
        +button("Example")(href="javascript:void(0);", tabindex="-1")
        +button("Example").button_accent(
          href="javascript:void(0);",
          tabindex="-1"
        )

    tr
      td
        b checkbox
        +checkbox
        +checkbox(checked="checked")
      td
        b
        +checkbox(disabled="disabled")
        +checkbox(checked="checked", disabled="disabled")

    tr
      td(colspan="2")
        b counter
        +counter({ max: 3 })

    tr
      td(colspan="2")
        b icon
        +icon("check")(width="40", height="40")

    tr
      td
        b input
        +input(placeholder="Example")
        +input(placeholder="Example", required="required")
      td
        b
        +input(placeholder="Example", disabled="disabled")
        +input(
          placeholder="Example",
          required="required",
          disabled="disabled"
        )

    tr
      td(colspan="2")
        b keyboard
        +keyboard

    tr
      td(colspan="2")
        b modal
        +modal

    tr
      td
        b radio
        +radio(name=getRandomDoubleId())
        +radio(name=getRandomDoubleId(), checked="checked")
      td
        b
        +radio(name=getRandomDoubleId(), disabled="disabled")
        +radio(
          name=getRandomDoubleId(),
          checked="checked",
          disabled="disabled"
        )

    tr
      td(colspan="2")
        b rating
        +rating({ checked: 3 })

    tr
      td
        b select
        +select
          option(value, selected, disabled) Select
          option(value="example") Example
      td
        b
        +select(disabled="disabled")
          option(value, selected, disabled) Select
          option(value="example") Example

    tr
      td
        b switch
        +switch
        +switch(checked="checked")
      td
        b
        +switch(disabled="disabled")
        +switch(checked="checked", disabled="disabled")

    tr
      td
        b textarea
        +textarea(placeholder="Example")
        +textarea(placeholder="Example", required="required")
      td
        b
        +textarea(placeholder="Example", disabled="disabled")
        +textarea(
          placeholder="Example",
          required="required",
          disabled="disabled"
        )
