extends ./templates/main.pug

block variables
  -
    const documentLanguage = 'ru';
    const bodyClasses = 'starting';
    const pageDescription = '';
    const pageKeywords = '';
    const pageTitle = 'Стартовый шаблон для верстки';

block head
  link(
    href='https://fonts.googleapis.com/css?family=Ubuntu&display=swap',
    rel='stylesheet'
  )

block body
  style.
    html {
      box-sizing: border-box;
      font-size: 10px;
    }

    body {
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 0;
      padding-top: 0.8rem;
      padding-right: 0.8rem;
      padding-bottom: 0.8rem;
      padding-left: 0.8rem;
      background-color: #ffffff;
      color: #575757;
      font-weight: 400;
      font-style: normal;
      font-size: 1.4rem;
      font-family: 'Ubuntu', sans-serif;
      line-height: 2rem;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    tr:not(:last-child) {
      box-shadow: inset 0 -1px 0 0 #d7d7d7;
    }

    td {
      padding-top: 1.6rem;
      padding-right: 0.8rem;
      padding-bottom: 1.6rem;
      padding-left: 0.8rem;
      width: 50%;
      vertical-align: top;
    }

    b {
      display: block;
      margin-top: 0;
      margin-bottom: 0.4rem;
      min-height: 2rem;
      font-weight: 400;
      font-family: inherit;
    }

  table
    tr
      td
        b button
        +button('Example')(type='button')
        +button('Example').button_accent(type='button')
        +button('Example')(href='javascript:void(0);')
        +button('Example').button_accent(href='javascript:void(0);')
      td
        b
        +button('Example')(href='javascript:void(0);', tabindex='-1')
        +button('Example').button_accent(href='javascript:void(0);', tabindex='-1')
        +button('Example')(type='button', disabled)
        +button('Example').button_accent(type='button', disabled)

    tr
      td
        b checkbox
        +checkbox
        +checkbox()(checked)
      td
        b
        +checkbox()(disabled)
        +checkbox()(checked, disabled)

    tr
      td(colspan='2')
        b counter
        +counter({ max: 10 })

    tr
      td(colspan='2')
        b icon
        +icon('check')(width='40', height='40')

    tr
      td
        b input
        +input()(placeholder='Example', required)
      td
        b
        +input()(placeholder='Example', required, disabled)

    tr
      td(colspan='2')
        b keyboard
        +keyboard

    tr
      td(colspan='2')
        b modal
        +modal

    tr
      td
        b radio
        +radio()(name=getRandomDoubleId())
        +radio()(name=getRandomDoubleId(), checked)
      td
        b
        +radio()(name=getRandomDoubleId(), disabled)
        +radio()(name=getRandomDoubleId(), checked, disabled)

    tr
      td(colspan='2')
        b rating
        +rating({ checked: 0 })

    tr
      td
        b select
        +select
          option(value, selected, disabled) Select
          option(value='example') Example
      td
        b
        +select()(disabled)
          option(value, selected, disabled) Select
          option(value='example') Example

    tr
      td
        b switch
        +switch
        +switch()(checked)
      td
        b
        +switch()(disabled)
        +switch()(checked, disabled)

    tr
      td
        b textarea
        +textarea()(placeholder='Example', required)
      td
        b
        +textarea()(placeholder='Example', required, disabled)
