extends ./templates/main.pug

block variables
  -
    const documentLanguage = 'ru';
    const bodyClasses = 'starting';
    const pageDescription = '';
    const pageKeywords = '';
    const pageTitle = 'Стартовый шаблон для верстки';

block head
  link(
    href='https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono&display=swap',
    rel='stylesheet'
  )

block body
  style.
    html {
      box-sizing: border-box;
      font-size: 10px;
    }

    body {
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 0;
      padding-top: 0.8rem;
      padding-right: 0.8rem;
      padding-bottom: 0.8rem;
      padding-left: 0.8rem;
      background-color: #ffffff;
      color: #575757;
      font-weight: 400;
      font-style: normal;
      font-size: 1.4rem;
      font-family: 'Ubuntu', sans-serif;
      line-height: 2rem;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    tr:not(:last-child) {
      box-shadow: inset 0 -1px 0 0 #d7d7d7;
    }

    td {
      padding-top: 1.6rem;
      padding-right: 0.8rem;
      padding-bottom: 1.6rem;
      padding-left: 0.8rem;
      width: 50%;
      vertical-align: top;
    }

    pre {
      margin-top: 0;
      margin-bottom: 0.4rem;
      font-family: 'Ubuntu Mono', monospace;
    }

  table
    tr
      td
        pre.
          +button('Example')(type='button')
          +button('Example').button_accent(type='button')
        +button('Example')(type='button')
        +button('Example').button_accent(type='button')
      td
        pre.
          +button('Example')(type='button', disabled)
          +button('Example').button_accent(type='button', disabled)
        +button('Example')(type='button', disabled)
        +button('Example').button_accent(type='button', disabled)

    tr
      td
        pre.
          +button('Example')(href='javascript:void(0);')
          +button('Example').button_accent(href='javascript:void(0);')
        +button('Example')(href='javascript:void(0);')
        +button('Example').button_accent(href='javascript:void(0);')
      td
        pre.
          +button('Example')(href='javascript:void(0);', tabindex='-1')
          +button('Example').button_accent(href='javascript:void(0);', tabindex='-1')
        +button('Example')(href='javascript:void(0);', tabindex='-1')
        +button('Example').button_accent(href='javascript:void(0);', tabindex='-1')

    tr
      td
        pre.
          +checkbox
          +checkbox()(checked)
        +checkbox
        +checkbox()(checked)
      td
        pre.
          +checkbox()(disabled)
          +checkbox()(checked, disabled)
        +checkbox()(disabled)
        +checkbox()(checked, disabled)

    tr
      td(colspan='2')
        pre.
          +counter({ max: 10 })
        +counter({ max: 10 })

    tr
      td(colspan='2')
        pre.
          +icon('check')(width='40', height='40')
        +icon('check')(width='40', height='40')

    tr
      td
        pre.
          +input()(placeholder='Example', required)
        +input()(placeholder='Example', required)
      td
        pre.
          +input()(placeholder='Example', required, disabled)
        +input()(placeholder='Example', required, disabled)

    tr
      td(colspan='2')
        pre.
          +modal
        +modal

    tr
      td
        pre.
          +radio()(name=getRandomDoubleId())
          +radio()(name=getRandomDoubleId(), checked)
        +radio()(name=getRandomDoubleId())
        +radio()(name=getRandomDoubleId(), checked)
      td
        pre.
          +radio()(name=getRandomDoubleId(), disabled)
          +radio()(name=getRandomDoubleId(), checked, disabled)
        +radio()(name=getRandomDoubleId(), disabled)
        +radio()(name=getRandomDoubleId(), checked, disabled)

    tr
      td
        pre.
          +select
            option(value, selected, disabled) Select
            option(value='example') Example
        +select
          option(value, selected, disabled) Select
          option(value='example') Example
      td
        pre.
          +select()(disabled)
            option(value, selected, disabled) Select
            option(value='example') Example
        +select()(disabled)
          option(value, selected, disabled) Select
          option(value='example') Example

    tr
      td
        pre.
          +switch
          +switch()(checked)
        +switch
        +switch()(checked)
      td
        pre.
          +switch()(disabled)
          +switch()(checked, disabled)
        +switch()(disabled)
        +switch()(checked, disabled)

    tr
      td
        pre.
          +textarea()(placeholder='Example', required)
        +textarea()(placeholder='Example', required)
      td
        pre.
          +textarea()(placeholder='Example', required, disabled)
        +textarea()(placeholder='Example', required, disabled)
